# Sample CloudSql Connection

# Need to set up for each instance - Add your VM's IP to the Authorized Networks
**1. Find the external IP of your JupyterLab VM**
https://console.cloud.google.com/compute/instances?project=adsp-34002-on02-sopho-scribe&authuser=1
 * Go to VM Instances
 * Find your JupyterLab VM
 * Copy the External IP address (looks like 34.91.100.45).

**2. Add the VM's IP to your Cloud SQL authorized networks**
https://console.cloud.google.com/sql/instances/currensee-sql/connections/networking?authuser=1&project=adsp-34002-on02-sopho-scribe
* Go to Cloud SQL instances. 
* Click your instance.
* Click Connections in the left sidebar.
* Scroll to Authorized networks â†’ Add network.
* Name: anything like jupyterlab-vm
* Network: paste the external IP you just copied (e.g., 34.91.100.45/32)
* IMPORTANT: Add /32 to allow only that single IP.
* Click Save.

It will take ~30 seconds to update.

In [1]:
#%pip install -q google-cloud-secret-manager==2.23.3
#%pip install -q SQLAlchemy==2.0.40

In [2]:
#%pip install psycopg2-binary sqlalchemy pandas

In [1]:
from google.cloud import secretmanager
import pandas as pd
from sqlalchemy import create_engine, text

#### Retrieve credentials from Secret Manager

In [2]:
def access_secret(secret_id):
    client = secretmanager.SecretManagerServiceClient()
    name = f"projects/{PROJECT_ID}/secrets/{secret_id}/versions/latest"
    response = client.access_secret_version(name=name)
    return response.payload.data.decode("UTF-8")

#### Configuration

In [9]:
PROJECT_ID = 'adsp-34002-on02-sopho-scribe'
REGION = 'us-central1'
DB_NAME = 'crm'
DB_NAME = 'postgres'
DB_USER = access_secret('cloudSqlUser')
DB_PASSWORD = access_secret('cloudSqlUserPassword')
DB_HOST = '35.232.92.211'
DB_PORT = '5432'

from sqlalchemy import create_engine
import pandas as pd

db_user = "lilycampbell"
db_pass = "moneypenny"
db_name = "crm"
host = '35.232.92.211'  
port = 5432

engine = create_engine(f"postgresql://{db_user}:{db_pass}@{host}:{port}/{db_name}")

# Test connection
df = pd.read_sql("SELECT NOW()", engine)
print(df)

#### Create SQLAlchemy engine

In [10]:
engine = create_engine(
    f'postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}',
    connect_args={'sslmode': 'require'}
)

In [8]:
df_result = pd.read_sql("SELECT * FROM test_scores", con=engine)
print(df_result)

   id     name  score
0   1    Alice     88
1   2      Bob     92
2   3  Charlie     85

In [11]:
df_result = pd.read_sql("SELECT * FROM Employees", con=engine)
print(df_result)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "employees" does not exist
LINE 1: SELECT * FROM Employees
                      ^

[SQL: SELECT * FROM Employees]
(Background on this error at: https://sqlalche.me/e/20/f405)

# Load Data

In [5]:
%pip install faker

Requirement already satisfied: faker in /opt/conda/lib/python3.10/site-packages (37.1.0)
Requirement already satisfied: tzdata in /opt/conda/lib/python3.10/site-packages (from faker) (2025.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import random
import os
import re
from faker import Faker

# Initialize Faker instance
#Faker is a Python package that integrates fake data for you.

#Some hard coded data of publicly traded companies to be our mock clients

In [13]:

fake = Faker()

# Helper function to generate synthetic employee data
def generate_employee_data(num_employees=10, ourcompany_name = 'bankwell'):
    Company = ourcompany_name
    employees = [
        {
            'EmployeeID': fake.unique.uuid4(),
            'FirstName': "Jane",
            'LastName': "Moneypenny",
            'Title': "Relationship Manager",
            'Email': "jane.moneypenny1@bankwell.com",
            'Phone': fake.phone_number(),
            'HireDate': fake.date_this_decade(),
            'Department': 'Enterprise Investment',
            'Market': 'San Fransisco'
        }
    ]

    for _ in range(num_employees-1):
        EmployeeID = fake.unique.uuid4()
        FirstName = fake.first_name()
        LastName = fake.last_name()
        Title = random.choice(['Finance Assistant', 'Financial Advisor', 'Senior Relationship Manager', 'Product Specialist', 'Relationship Manager'])
        Phone = fake.phone_number()
        Department = random.choice(['Enterprise Investment', 'Small Business Investment', 'Operations', 'Sales', 'Customer Support'])
        HireDate = fake.date_this_decade()
        Market = random.choice(['San Fransisco', 'New York City', 'Boston', 'Denver', 'Los Angeles', 'Miami', 'Washington DC', 'Seattle', 'Dallas', 'Chicago'])
        Company_clean = re.sub(r'\W+', '', Company).lower()
        Email = f"{FirstName.lower()}.{LastName.lower()}@{Company_clean}.com"


        employees.append({
            'EmployeeID': EmployeeID,
            'FirstName': FirstName,
            'LastName': LastName,
            'Title': Title,
            'Email': Email,
            'Phone': Phone,
            'HireDate': HireDate,
            'Department': Department,
            'Market': Market
        })
    return pd.DataFrame(employees)

# Helper function to generate point of contact and info for a Company
def generate_point_of_contact(Company_name):
    AccountID = fake.unique.uuid4()
    FirstName = fake.first_name()
    LastName = fake.last_name()
    ContactTitle = random.choice(["Senior Director", "Manager", "Director", "VP", "Consultant"])
    Phone = fake.phone_number()
    Website = fake.url()
    Location = random.choice(['San Fransisco', 'New York City', 'Boston', 'Denver', 'Los Angeles', 'Miami', 'Washington DC', 'Seattle', 'Dallas', 'Chicago'])
    AnnualRevenue = random.randint(1000000, 50000000)
    TotalAccountBal = random.randint(1000000, 50000000)

    # Clean Company name for use in email
    Company_clean = re.sub(r'\W+', '', Company_name).lower()
    Email = f"{FirstName.lower()}.{LastName.lower()}@{Company_clean}.com"

    return {
        "AccountID": AccountID,
        "ContactFirstName": FirstName,
        "ContactLastName": LastName,
        "ContactTitle": ContactTitle,
        "Phone": Phone,
        "Email": Email,
        "Website": Website,
        "Location": Location,
        "AnnualRevenue": AnnualRevenue,
        "TotalAccountBal": TotalAccountBal
    }


def generate_account_data(num_accounts=5, clients_company = []):
# Build the data
    accounts = []
    for company in clients_company:
        contact = generate_point_of_contact(company["Company"])
        record = {
          "Company": company["Company"],
          "industry": company["industry"],
          **contact
      }
        accounts.append(record)
    return pd.DataFrame(accounts)




# Helper function to generate synthetic opportunity data
def generate_opportunity_data(accounts_df, num_opportunities_per_account=3):
    opportunities = []
    for _, account in accounts_df.iterrows():
        num_opportunities = random.randint(1, num_opportunities_per_account)
        for _ in range(num_opportunities):
            opportunities.append({
                'OpportunityID': fake.unique.uuid4(),
                'AccountID': account['AccountID'],
                'OpportunityName': fake.bs(),
                'Stage': random.choice(['Prospecting', 'Qualification', 'Proposal', 'Negotiation', 'Won', 'Lost', 'Closed']),
                'Type': random.choice(['New Business', 'Existing Business', 'Renewal', 'Upsell']),
                'CloseDate': fake.date_this_year(),
                'Amount': random.randint(50000, 500000),
            })
    return pd.DataFrame(opportunities)

# Helper function to generate synthetic employee-contact relationship data
def generate_employee_contact_data(employees_df, accounts_df, num_relationships_per_employee=2):
    relationships = []
    for _, employee in employees_df.iterrows():
        num_relationships = random.randint(1, num_relationships_per_employee)
        for _ in range(num_relationships):
            account = random.choice(accounts_df['AccountID'].tolist())
            relationships.append({
                'EmployeeID': employee['EmployeeID'],
                'EmployeeFirstName': employee['FirstName'],
                'EmployeeLastName': employee['LastName'],
                'AccountID': account,
                'Company': accounts_df.loc[accounts_df['AccountID'] == account, 'Company'].iloc[0],
                'Industry': accounts_df.loc[accounts_df['AccountID'] == account, 'industry'].iloc[0],
                'ContactFirstName': accounts_df.loc[accounts_df['AccountID'] == account, 'ContactFirstName'].iloc[0],
                'ContactLastName': accounts_df.loc[accounts_df['AccountID'] == account, 'ContactLastName'].iloc[0],
                'ContactEmail': accounts_df.loc[accounts_df['AccountID'] == account, 'Email'].iloc[0],
                'ContactTitle': accounts_df.loc[accounts_df['AccountID'] == account, 'ContactTitle'].iloc[0],
                'ContactPhone': accounts_df.loc[accounts_df['AccountID'] == account, 'Phone'].iloc[0],
            })
    return pd.DataFrame(relationships)


def generate_portfolios(df_accounts, max_positions=10, instruments=[]):
    portfolio_records = []

    for _, row in df_accounts.iterrows():
        AccountId = row["AccountID"]
        Company = row["Company"]
        num_positions = random.randint(5, 10)
        positions = random.sample(instruments, num_positions)
        for symbol, instrument_type in positions:
            portfolio_records.append({
                "AccountID": AccountId,
                "Company_name": Company,
                "symbol": symbol,
                "instrument_type": instrument_type
            })

    return pd.DataFrame(portfolio_records)

In [14]:
# Right now companies can only be selected from this list of publicly traded companies 
# Likely want this to be random instead..
clients_company_info = [
        {"Company": "Broadcom", "industry": "Technology"},
        {"Company": "Cisco", "industry": "Technology"},
        {"Company": "Palantir Technologies", "industry": "Technology"},
        {"Company": "Fiserv", "industry": "Technology"},
        {"Company": "Atlassian", "industry": "Technology"},
        {"Company": "Leidos", "industry": "Technology"},
        {"Company": "Duolingo", "industry": "Technology"},
        {"Company": "Logitech", "industry": "Technology"},
        {"Company": "Celestica", "industry": "Technology"},
        {"Company": "Dropbox", "industry": "Technology"},
        {"Company": "Plexus", "industry": "Technology"},
        {"Company": "Silicon Laboratories", "industry": "Technology"},
        {"Company": "Mobix Labs", "industry": "Technology"},
        {"Company": "Mariott", "industry": "Hospitality"},
        {"Company": "InterContinental Hotels Group", "industry": "Hospitality"},
        {"Company": "Sonder Holdings", "industry": "Hospitality"},
        {"Company": "Hyatt Hotels", "industry": "Hospitality"},
        {"Company": "Royal Caribbean Cruises", "industry": "Hospitality"},
        {"Company": "UnitedHealth", "industry": "Healthcare"},
        {"Company": "Johnson & Johnson", "industry": "Healthcare"},
        {"Company": "AbbVie", "industry": "Healthcare"},
        {"Company": "Novo Nordisk", "industry": "Healthcare"},
        {"Company": "Abbott Laboratories", "industry": "Healthcare"},
        {"Company": "AstraZeneca", "industry": "Healthcare"},
        {"Company": "Merck & Co", "industry": "Healthcare"},
        {"Company": "Intuitive Surgical", "industry": "Healthcare"},
        {"Company": "Medtronic", "industry": "Healthcare"},
        {"Company": "Zoetis", "industry": "Healthcare"},
        {"Company": "Humana", "industry": "Healthcare"},
        {"Company": "Illumina", "industry": "Healthcare"},
        {"Company": "Guardant Health", "industry": "Healthcare"},
        {"Company": "Rhythm Pharmaceuticals", "industry": "Healthcare"},
        {"Company": "Amedisys", "industry": "Healthcare"},
        {"Company": "Rivian Automotive", "industry": "Automotive"},
        {"Company": "Fordy", "industry": "Automotive"},
        {"Company": "lululemon athletica", "industry": "Retail"},
        {"Company": "DICK'S Sporting Goods", "industry": "Retail"},
        {"Company": "GameStop Corp", "industry": "Retail"},
        {"Company": "Texas Roadhouse", "industry": "Retail"},
        {"Company": "Hasbro", "industry": "Retail"},
        {"Company": "Mattel", "industry": "Retail"},
        {"Company": "Wayfair", "industry": "Retail"},
        {"Company": "Peloton", "industry": "Retail"},
        {"Company": "Sally Beauty", "industry": "Retail"},
        {"Company": "Lifetime Brand", "industry": "Retail"},
        {"Company": "Allbirds", "industry": "Retail"},
        {"Company": "Walmart", "industry": "Retail"},
        {"Company": "Tyson Foods", "industry": "Retail"},
        {"Company": "Sprouts Farmers Market", "industry": "Retail"},
        {"Company": "Dollar Tree", "industry": "Retail"},
        {"Company": "Stride", "industry": "Retail"},
        {"Company": "Spectrum Brands", "industry": "Retail"},
        {"Company": "Udemy", "industry": "Retail"},
        {"Company": "Vital Farms", "industry": "Retail"},
        {"Company": "Graham Holdings Company", "industry": "Retail"},
        {"Company": "Hims & Hers Health", "industry": "Retail"},
        {"Company": "Smithfield Foods", "industry": "Retail"},
        {"Company": "Albertsons Companies", "industry": "Retail"},
        {"Company": "Albany International", "industry": "Manufacturing"},
        {"Company": "IT Tech Packaging", "industry": "Manufacturing"},
        {"Company": "Lockheed Martin Corporation", "industry": "Manufacturing"},
        {"Company": "Landstar System", "industry": "Manufacturing"},
        {"Company": "Hexcel Corporation", "industry": "Manufacturing"},
        {"Company": "AeroVironment", "industry": "Manufacturing"},
        {"Company": "Matson", "industry": "Manufacturing"},
        {"Company": "McGrath RentCorp", "industry": "Manufacturing"},
        {"Company": "Mueller Industries", "industry": "Manufacturing"},
        {"Company": "Dolby Laboratories", "industry": "Manufacturing"},
        {"Company": "ManpowerGroup", "industry": "Manufacturing"},
        {"Company": "Welltower", "industry": "RealEstate"},
        {"Company": "Iron Mountain Incorporated", "industry": "RealEstate"},
        {"Company": "Camden Property", "industry": "RealEstate"},
        {"Company": "CubeSmart", "industry": "RealEstate"},
        {"Company": "Federal Realty Investment Trust", "industry": "RealEstate"},
        {"Company": "Essential Properties Realty", "industry": "RealEstate"},
        {"Company": "Compass", "industry": "RealEstate"},
        {"Company": "Medical Properties Trust", "industry": "RealEstate"},
        {"Company": "Broadstone", "industry": "RealEstate"},
        {"Company": "Ladder Capital Corp", "industry": "RealEstate"},
        {"Company": "Peakstone Realty Trus", "industry": "RealEstate"},
        {"Company": "Fathom Holdings", "industry": "RealEstate"},
        {"Company": "Presidio Property Trust", "industry": "RealEstate"},
        {"Company": "Service Properties Trust", "industry": "RealEstate"},
    ]

stocks = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA', 'NVDA', 'META', 'JPM', 'V', 'UNH']
bonds = ['US10Y', 'US30Y', 'CORP1', 'CORP2', 'MUNI1', 'MUNI2']
mutual_funds = ['VFIAX', 'SWPPX', 'FXAIX', 'VTSAX', 'FZROX', 'SPY']
# All symbols with types
instruments = (
    [(sym, 'Stock') for sym in stocks] +
    [(sym, 'Bond') for sym in bonds] +
    [(sym, 'Mutual Fund') for sym in mutual_funds]
)

# Generate synthetic data for the tables
employees_df = generate_employee_data(num_employees=100, ourcompany_name = 'bankwell')
accounts_df = generate_account_data(num_accounts=1000, clients_company = clients_company_info)
opportunities_df = generate_opportunity_data(accounts_df, num_opportunities_per_account=3)
contacts_df = generate_employee_contact_data(employees_df, accounts_df, num_relationships_per_employee=30)
portfolio_df = generate_portfolios(accounts_df, max_positions=10, instruments = instruments)

# Print the first few rows of each DataFrame
print("Employees Data:")
print(employees_df.head())

print("\nAccounts Data:")
print(accounts_df.head())

print("\nOpportunities Data:")
print(opportunities_df.head())

print("\nEmployee-Contact Relationships Data:")
print(contacts_df.head())

print("\nPortfolio Info for Each Account")
print(portfolio_df.head())

Employees Data:
                             EmployeeID FirstName    LastName  \
0  eb5b742b-f813-4201-8bd6-4d0302af94fb      Jane  Moneypenny
1  da7c0879-464b-4c09-a0ef-fc15f9d5c4e9     Julie     Hawkins
2  90e9594d-3ae6-462f-8a26-c65dff78fb84      Eric     Stewart
3  9d2ac2af-3a28-4ccb-831c-e886da291bc6    Sherry      Bryant
4  fa7cb2ba-27e4-4c9f-b5b1-723186bd85ba   Katrina       Jones

                         Title                          Email  \
0         Relationship Manager  jane.moneypenny1@bankwell.com
1           Product Specialist     julie.hawkins@bankwell.com
2  Senior Relationship Manager      eric.stewart@bankwell.com
3  Senior Relationship Manager     sherry.bryant@bankwell.com
4            Finance Assistant     katrina.jones@bankwell.com

                  Phone    HireDate                 Department         Market
0  +1-562-324-4765x7382  2023-01-23      Enterprise Investment  San Fransisco
1      001-283-517-3213  2023-02-09  Small Business Investment  Washington DC
2   (669)597-4146x47752  2021-05-26                      Sales  San Fransisco
3          455.897.4544  2021-03-22                 Operations         Boston
4          995-347-5930  2023-07-29           Customer Support          Miami

Accounts Data:
                 Company    industry                             AccountID  \
0               Broadcom  Technology  853d64f4-5b5a-42e9-9bff-cef18f037124
1                  Cisco  Technology  d45080a2-42a4-42ae-adb1-02d8b1e8472a
2  Palantir Technologies  Technology  9bd12171-9dc7-4173-ba3c-649b92bda9c0
3                 Fiserv  Technology  1fac683d-e601-473e-8946-68c46dee04c3
4              Atlassian  Technology  3e64dc6a-882b-4654-bb68-6352c978147b

  ContactFirstName ContactLastName ContactTitle             Phone  \
0           Edward           Mcgee   Consultant   +1-954-949-0894
1           Justin         Johnson      Manager      526.894.7451
2             Lisa        Castillo           VP      973-572-2046
3            James       Fernandez           VP  470.637.5619x121
4            Brian          Walker   Consultant        7159323523

                                    Email                  Website  \
0               edward.mcgee@broadcom.com     https://trevino.com/
1                justin.johnson@cisco.com       http://morgan.biz/
2  lisa.castillo@palantirtechnologies.com     http://martinez.biz/
3              james.fernandez@fiserv.com   http://www.watson.com/
4              brian.walker@atlassian.com  https://www.moreno.com/

        Location  AnnualRevenue  TotalAccountBal
0  Washington DC        5923367         46012399
1          Miami       29940555         22323888
2         Dallas       33811501          5143247
3         Denver       12371183         18039983
4  Washington DC        1417630         17896550

Opportunities Data:
                          OpportunityID                             AccountID  \
0  9d19d237-0a2f-49af-a553-c19c966d19a1  853d64f4-5b5a-42e9-9bff-cef18f037124
1  93bf68f0-d3ab-48de-a2fe-212e50a7b630  853d64f4-5b5a-42e9-9bff-cef18f037124
2  64e1dcbc-c9d3-4ffc-8d7d-9b04f43bf06c  d45080a2-42a4-42ae-adb1-02d8b1e8472a
3  330de61c-ddd0-4a4e-b6f5-2d2ce642f655  9bd12171-9dc7-4173-ba3c-649b92bda9c0
4  d9145879-7336-4754-b9f4-6fd89660dd79  9bd12171-9dc7-4173-ba3c-649b92bda9c0

                      OpportunityName        Stage               Type  \
0    innovate revolutionary solutions       Closed       New Business
1  innovate clicks-and-mortar markets         Lost             Upsell
2     enhance magnetic info-mediaries  Negotiation       New Business
3        grow end-to-end web services     Proposal  Existing Business
4            integrate B2B e-services  Negotiation       New Business

    CloseDate  Amount
0  2025-01-23   92232
1  2025-01-12  254368
2  2025-03-15  392215
3  2025-04-19  138165
4  2025-02-04  322236

Employee-Contact Relationships Data:
                             EmployeeID EmployeeFirstName EmployeeLastName  \
0  eb5b742b-f813-4201-8bd6-4d0302af94fb              Jane       Moneypenny
1  eb5b742b-f813-4201-8bd6-4d0302af94fb              Jane       Moneypenny
2  eb5b742b-f813-4201-8bd6-4d0302af94fb              Jane       Moneypenny
3  eb5b742b-f813-4201-8bd6-4d0302af94fb              Jane       Moneypenny
4  eb5b742b-f813-4201-8bd6-4d0302af94fb              Jane       Moneypenny

                              AccountID             Company    Industry  \
0  2f5920f0-405f-4b63-adb6-546ef19f6a28        Novo Nordisk  Healthcare
1  2f5920f0-405f-4b63-adb6-546ef19f6a28        Novo Nordisk  Healthcare
2  6346bdf0-5be8-49c3-b4ee-e8b5b323ba0f            Duolingo  Technology
3  ea2dc17d-0885-4749-8a94-8048561f8baa  Intuitive Surgical  Healthcare
4  07254f59-2b0b-45b7-a2bd-a66b360f9183     Texas Roadhouse      Retail

  ContactFirstName ContactLastName                            ContactEmail  \
0             Jean           Cohen              jean.cohen@novonordisk.com
1             Jean           Cohen              jean.cohen@novonordisk.com
2            Jenna          Barnes               jenna.barnes@duolingo.com
3          Patrick        Mcdonald  patrick.mcdonald@intuitivesurgical.com
4            Shaun       Rodriguez      shaun.rodriguez@texasroadhouse.com

  ContactTitle         ContactPhone
0           VP      +1-704-262-8914
1           VP      +1-704-262-8914
2           VP  +1-825-894-6399x236
3   Consultant   (667)852-6915x4463
4     Director     897.441.1928x594

Portfolio Info for Each Account
                              AccountID Company_name symbol instrument_type
0  853d64f4-5b5a-42e9-9bff-cef18f037124     Broadcom  GOOGL           Stock
1  853d64f4-5b5a-42e9-9bff-cef18f037124     Broadcom   AAPL           Stock
2  853d64f4-5b5a-42e9-9bff-cef18f037124     Broadcom   NVDA           Stock
3  853d64f4-5b5a-42e9-9bff-cef18f037124     Broadcom  CORP1            Bond
4  853d64f4-5b5a-42e9-9bff-cef18f037124     Broadcom    JPM           Stock

In [15]:
employees_df.head()

,EmployeeID,FirstName,LastName,Title,Email,Phone,HireDate,Department,Market
0,eb5b742b-f813-4201-8bd6-4d0302af94fb,Jane,Moneypenny,Relationship Manager,jane.moneypenny1@bankwell.com,+1-562-324-4765x7382,2023-01-23,Enterprise Investment,San Fransisco
1,da7c0879-464b-4c09-a0ef-fc15f9d5c4e9,Julie,Hawkins,Product Specialist,julie.hawkins@bankwell.com,001-283-517-3213,2023-02-09,Small Business Investment,Washington DC
2,90e9594d-3ae6-462f-8a26-c65dff78fb84,Eric,Stewart,Senior Relationship Manager,eric.stewart@bankwell.com,(669)597-4146x47752,2021-05-26,Sales,San Fransisco
3,9d2ac2af-3a28-4ccb-831c-e886da291bc6,Sherry,Bryant,Senior Relationship Manager,sherry.bryant@bankwell.com,455.897.4544,2021-03-22,Operations,Boston
4,fa7cb2ba-27e4-4c9f-b5b1-723186bd85ba,Katrina,Jones,Finance Assistant,katrina.jones@bankwell.com,995-347-5930,2023-07-29,Customer Support,Miami

In [16]:
employees_df.shape

(100, 9)

In [17]:
# Create table and insert data
with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE Employees (
            id SERIAL PRIMARY KEY,
            EmployeeID VARCHAR(70),
            FirstName VARCHAR(70),
            LastName VARCHAR(70),
            Title VARCHAR(50),
            Email VARCHAR(70),
            Phone VARCHAR(30),
            HireDate date,
            Department VARCHAR(70),
            Market VARCHAR(30)
        )
    """))

    for _, row in employees_df.iterrows():
        conn.execute(
            text("INSERT INTO Employees (EmployeeID, FirstName, LastName, Title, Email, Phone, HireDate, Department, Market) VALUES (:EmployeeID, :FirstName, :LastName, :Title, :Email, :Phone, :HireDate, :Department, :Market)"),
            {"EmployeeID": row['EmployeeID'], "FirstName": row['FirstName'],
             "LastName": row['LastName'], "Title": row['Title'], "Email": row['Email'],
             "Phone": row['Phone'], "HireDate": row['HireDate'], "Department": row['Department'], "Market": row['Market']}
        )
        #print(row)

In [18]:
# Create sample data
sample_data = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'score': [88, 92, 85]
})

# Create table and insert data
with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS test_scores (
            id SERIAL PRIMARY KEY,
            name VARCHAR(100),
            score INT
        )
    """))

    for _, row in sample_data.iterrows():
        conn.execute(
            text("INSERT INTO test_scores (name, score) VALUES (:name, :score)"),
            {"name": row['name'], "score": row['score']}
        )

In [19]:
df = pd.read_sql("SELECT * from Employees", con=engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "employees" does not exist
LINE 1: SELECT * from Employees
                      ^

[SQL: SELECT * from Employees]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [15]:
import datetime
import pytz

print(f"Notebook last execution time: {datetime.datetime.now(pytz.timezone('US/Central')).strftime('%a, %d %B %Y %H:%M:%S')}")

Notebook last execution time: Thu, 24 April 2025 17:58:30