In [1]:
from google.cloud import secretmanager
import pandas as pd
import numpy as np
from currensee.utils.db_utils import create_pg_engine
from sqlalchemy import text

import pandas as pd
import random
import os
import re
from faker import Faker

2025-07-06 16:52:29,343 - currensee.core.secrets - INFO - PROJECT_ID not found, attempting to load from .env file
2025-07-06 16:52:29,346 - currensee.core.secrets - INFO - Loaded environment from ./.env
2025-07-06 16:52:29,347 - currensee.core.secrets - INFO - SecretManager initialized with project_id: adsp-34002-on02-sopho-scribe

In [2]:
# Define DB_NAME
DB_NAME = "crm_outlook"

In [3]:
engine = create_pg_engine(db_name=DB_NAME)

In [4]:
# meetings between jane and her clients 
# have times be after 2023
df1 = pd.read_sql("SELECT * FROM meeting_data", con=engine)
df1.head()

,meeting_timestamp,host,host_email,invitees,invitee_emails,meeting_subject
0,2018-07-17 15:00:00,Jane Moneypenny,jane.moneypenny1@outlook.com,Cynthia Hobbs,cynthia.hobbs@abbvie.com,AbbVie - Introductory Call & Bankwell Services...
1,2018-07-24 14:00:00,Jane Moneypenny,jane.moneypenny1@outlook.com,Jennifer Phelps,jennifer.phelps@aerovironment.com,AeroVironment - Initial Discussion on Financia...
2,2018-08-07 10:00:00,Jane Moneypenny,jane.moneypenny1@outlook.com,Kyle Waters,kyle.waters@amedisys.com,Amedisys - Discussing Cash Management Needs
3,2018-08-15 11:00:00,Jane Moneypenny,jane.moneypenny1@outlook.com,Kyle Waters,kyle.waters@amedisys.com,Amedisys - Cash Concentration Services Demo
4,2018-08-29 14:00:00,Jane Moneypenny,jane.moneypenny1@outlook.com,Denise Moore,denise.moore@celestica.com,Celestica - Initial Discussion on Liquidity Ma...

In [5]:
# emails between jane and her clients
df1 = pd.read_sql("SELECT * FROM email_data", con=engine)
df1.head()

,email_timestamp,to_names,to_emails,from_name,from_email,email_subject,email_body
0,2018-07-15 09:30:00,Cynthia Hobbs,cynthia.hobbs@abbvie.com,Jane Moneypenny,jane.moneypenny1@outlook.com,Introduction - Bankwell Financial Services for...,"Hi Cynthia,\n\nMy name is Jane Moneypenny, and..."
1,2018-07-16 11:05:00,Jane Moneypenny,jane.moneypenny1@outlook.com,Cynthia Hobbs,cynthia.hobbs@abbvie.com,Re: Introduction - Bankwell Financial Services...,"Hi Jane,\n\nThank you for reaching out. AbbVie..."
2,2018-07-16 11:15:00,Cynthia Hobbs,cynthia.hobbs@abbvie.com,Jane Moneypenny,jane.moneypenny1@outlook.com,Re: Introduction - Bankwell Financial Services...,"Hi Cynthia,\n\nTuesday at 2 PM CT works perfec..."
3,2018-08-01 14:00:00,Jennifer Phelps,jennifer.phelps@aerovironment.com,Jane Moneypenny,jane.moneypenny1@outlook.com,Follow Up: AeroVironment Financial Needs,"Hi Jennifer,\n\nIt was a pleasure speaking wit..."
4,2018-08-02 10:15:00,Jane Moneypenny,jane.moneypenny1@outlook.com,Jennifer Phelps,jennifer.phelps@aerovironment.com,Re: Follow Up: AeroVironment Financial Needs,"Hi Jane,\n\nThanks for sending this over. The ..."

In [6]:
# Add a couple meetings between jane and a client company about 
#relationship, 
#portfolio review, 
#regulatory,
#etc.

In [ ]:
INSERT INTO table_name (column1, column2, ...)
VALUES (value1, value2, ...);

In [ ]:
# add corresponding emails leading up to the meetings about the topic