In [2]:
#from google.cloud import secretmanager
import pandas as pd
import numpy as np
from currensee.utils.db_utils import create_pg_engine
from sqlalchemy import text

import pandas as pd
import random
import os
import re

2025-07-10 03:19:06,136 - currensee.core.secrets - INFO - PROJECT_ID not found, attempting to load from .env file
2025-07-10 03:19:06,140 - currensee.core.secrets - INFO - Loaded environment from ./.env
2025-07-10 03:19:06,141 - currensee.core.secrets - INFO - SecretManager initialized with project_id: adsp-34002-on02-sopho-scribe

In [3]:
# Define DB_NAME
DB_NAME = "crm_outlook"

In [4]:
engine = create_pg_engine(db_name=DB_NAME)

In [4]:
pd.read_sql("SELECT * FROM preferences limit 10", con=engine)

,as_of_date,employee_first_name,employee_last_name,email,title,finance_detail,news_detail,macro_news_detail,past_meeting_detail
0,2023-01-23 10:00:00,Jane,Moneypenny,jane.moneypenny@bankwell.com,Relationship Manager,full,full,full,full
1,2023-01-23 10:00:00,Monica,Melton,monica.melton@bankwell.com,Product Specialist,none,full,full,short
2,2023-01-23 10:00:00,Michael,Long,michael.long@bankwell.com,Finance Assistant,full,full,full,short
3,2023-01-23 10:00:00,Breanna,Guerra,breanna.guerra@bankwell.com,Senior Relationship Manager,short,none,full,none
4,2023-01-23 10:00:00,Heather,Singh,heather.singh@bankwell.com,Financial Advisor,full,none,full,none
5,2023-01-23 10:00:00,Alejandro,Walters,alejandro.walters@bankwell.com,Senior Relationship Manager,none,full,full,short
6,2023-01-23 10:00:00,Ryan,Holloway,ryan.holloway@bankwell.com,Relationship Manager,none,full,none,full
7,2023-01-23 10:00:00,Anthony,Reynolds,anthony.reynolds@bankwell.com,Financial Advisor,short,full,full,none
8,2023-01-23 10:00:00,Alexandra,Terry,alexandra.terry@bankwell.com,Product Specialist,none,full,none,full
9,2023-01-23 10:00:00,Jordan,Robles,jordan.robles@bankwell.com,Financial Advisor,full,none,full,none

In [10]:
pd.read_sql("""SELECT as_of_date
, employee_first_name
, employee_last_name
, finance_detail
, news_detail
, macro_news_detail
, past_meeting_detail 
FROM preferences 
where employee_first_name = 'Ryan' and employee_last_name = 'Holloway' 
order by as_of_date
""", con=engine)

,as_of_date,employee_first_name,employee_last_name,finance_detail,news_detail,macro_news_detail,past_meeting_detail
0,2023-01-23 10:00:00,Ryan,Holloway,none,full,none,full
1,2023-04-02 10:00:00,Ryan,Holloway,short,full,full,none
2,2023-07-26 14:00:00,Ryan,Holloway,short,none,none,short
3,2023-11-04 10:00:00,Ryan,Holloway,short,none,full,full
4,2024-01-30 10:00:00,Ryan,Holloway,none,full,none,none
5,2024-03-10 09:00:00,Ryan,Holloway,none,none,none,short

In [9]:
pd.read_sql("""SELECT as_of_date
, employee_first_name
, employee_last_name
, finance_detail
, news_detail
, macro_news_detail
, past_meeting_detail 
FROM preferences 
where employee_first_name = 'Jane' and employee_last_name = 'Moneypenny' 
order by as_of_date
""", con=engine)

,as_of_date,employee_first_name,employee_last_name,finance_detail,news_detail,macro_news_detail,past_meeting_detail
0,2023-01-23 10:00:00,Jane,Moneypenny,full,full,full,full
1,2023-04-02 10:00:00,Jane,Moneypenny,short,full,full,short
2,2023-07-26 14:00:00,Jane,Moneypenny,none,none,full,short
3,2023-11-04 10:00:00,Jane,Moneypenny,short,full,none,none
4,2024-01-30 10:00:00,Jane,Moneypenny,short,full,none,full
5,2024-03-10 09:00:00,Jane,Moneypenny,full,none,full,full

In [6]:
df = pd.read_sql("SELECT * from employees", con=engine)
df.head()

,index,employee_id,first_name,last_name,title,email,phone,hire_date,department,market
0,0,31e735f6-cfbe-4107-8aba-4ef45a90e9ae,Jane,Moneypenny,Relationship Manager,jane.moneypenny@bankwell.com,971.841.4711x92417,2021-01-14,Enterprise Investment,San Fransisco
1,1,b61a7a99-791a-4b9f-923f-271810defac4,Monica,Melton,Product Specialist,monica.melton@bankwell.com,884.541.7837,2021-12-03,Small Business Investment,Chicago
2,2,2f8c004d-e0a6-4bba-956e-2b60af632674,Michael,Long,Finance Assistant,michael.long@bankwell.com,478-831-1994x378,2021-12-06,Sales,Washington DC
3,3,59dcd404-9d5c-47f4-9ba1-2de5156343f8,Breanna,Guerra,Senior Relationship Manager,breanna.guerra@bankwell.com,736-597-4792x589,2024-07-11,Enterprise Investment,Boston
4,4,7a650dd8-34a3-4148-a7f8-631bf5db37d4,Heather,Singh,Financial Advisor,heather.singh@bankwell.com,7139112404,2020-11-15,Customer Support,Washington DC

In [52]:
df = pd.read_sql("""SELECT p.as_of_date
        , p.employee_first_name
        , p.employee_last_name
        , p.finance_detail
        , p.news_detail
        , p.macro_news_detail
        , p.past_meeting_detail 
        , p.email	
        FROM preferences p
        where p.email = 'jane.moneypenny@bankwell.com'
        """, con=engine)
df.head(10)

,as_of_date,employee_first_name,employee_last_name,finance_detail,news_detail,macro_news_detail,past_meeting_detail,email
0,2023-01-23 10:00:00,Jane,Moneypenny,full,full,full,full,jane.moneypenny1@bankwell.com
1,2023-04-02 10:00:00,Jane,Moneypenny,short,full,full,short,jane.moneypenny1@bankwell.com
2,2023-07-26 14:00:00,Jane,Moneypenny,none,none,full,short,jane.moneypenny1@bankwell.com
3,2023-11-04 10:00:00,Jane,Moneypenny,short,full,none,none,jane.moneypenny1@bankwell.com
4,2024-01-30 10:00:00,Jane,Moneypenny,short,full,none,full,jane.moneypenny1@bankwell.com
5,2024-03-10 09:00:00,Jane,Moneypenny,full,none,full,full,jane.moneypenny1@bankwell.com

In [15]:
user_email = df["email"][0]
user_email

'jane.moneypenny1@bankwell.com'

In [22]:

mx_dt_df['as_of_date'][0]

'2024-01-30 10:00:00'

In [23]:
user_email = df["email"][0]


mx_dt_df = pd.read_sql(f"""
    SELECT max(p.as_of_date) as as_of_date
    FROM preferences p
    where p.email = '{user_email}'
    and as_of_date <= '{meeting_timestamp}'
""", con=engine)

max_dt = mx_dt_df['as_of_date'][0]

query_str = f"""
    SELECT p.as_of_date
    , p.employee_first_name
    , p.employee_last_name
    , p.finance_detail
    , p.news_detail
    , p.macro_news_detail
    , p.past_meeting_detail 
    , e.email	
    FROM preferences p
    inner join employees e
    on p.employee_first_name = e.first_name 
    and p.employee_last_name = e.last_name 
    where e.email = '{user_email}' and p.as_of_date = '{max_dt}'
"""

pref_df = pd.read_sql(query_str, con=engine)

In [29]:
pref_df.head()

,as_of_date,employee_first_name,employee_last_name,finance_detail,news_detail,macro_news_detail,past_meeting_detail,email
0,2024-01-30 10:00:00,Jane,Moneypenny,True,True,False,True,jane.moneypenny1@bankwell.com

In [28]:
fin_detail = pref_df["finance_detail"][0]
news_detail = pref_df["news_detail"][0]
macro_news_detail = pref_df["macro_news_detail"][0]
past_meeting_detail = pref_df["past_meeting_detail"][0]

print(fin_detail, news_detail, macro_news_detail, past_meeting_detail)

True True False True

In [53]:
user_email = df["email"][0]
meeting_timestamp = "2024-02-04 14:30:00"
mx_dt_df = pd.read_sql(f"""
    SELECT max(p.as_of_date) as as_of_date
    FROM preferences p
    where p.email = '{user_email}'
    and as_of_date <= '{meeting_timestamp}'
    """, con=engine)
    
max_dt = mx_dt_df['as_of_date'][0]

query_str = f"""
SELECT p.as_of_date
, p.employee_first_name
, p.employee_last_name
, p.finance_detail
, p.news_detail
, p.macro_news_detail
, p.past_meeting_detail 
, p.email	
FROM preferences p
where p.email = '{user_email}' and p.as_of_date = '{max_dt}'
"""
pref_df = pd.read_sql(query_str, con=engine)

In [54]:
print(max_dt)

2024-01-30 10:00:00

In [55]:
pref_df.head()

,as_of_date,employee_first_name,employee_last_name,finance_detail,news_detail,macro_news_detail,past_meeting_detail,email
0,2024-01-30 10:00:00,Jane,Moneypenny,short,full,none,full,jane.moneypenny1@bankwell.com

In [5]:
df = pd.read_sql("SELECT * from meeting_data where meeting_timestamp > 	'2023-01-23 10:00:00' ", con=engine)
df.head(30)

,index,meeting_timestamp,host,host_email,invitees,invitee_emails,meeting_subject
0,68,2023-01-24 14:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Ronnie Gray,ronnie.gray@laddercapitalcorp.com,Ladder Capital Corp - Q4 2022 Portfolio Review
1,69,2023-01-25 11:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Tracey Smith,tracey.smith@medtronic.com,Medtronic - Q4 2022 Portfolio Review & 2023 Ou...
2,70,2023-01-26 14:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Michelle Jenkins,michelle.jenkins@intuitivesurgical.com,Intuitive Surgical - Introduction to Bankwell ...
3,71,2023-04-25 14:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Ronnie Gray,ronnie.gray@laddercapitalcorp.com,Ladder Capital Corp - Q1 2023 Portfolio Review
4,72,2023-04-26 11:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Tracey Smith,tracey.smith@medtronic.com,Medtronic - Q1 2023 Portfolio Review
5,73,2023-06-06 11:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Tracey Smith,tracey.smith@medtronic.com,Medtronic - Q2 2023 Portfolio Review
6,74,2023-07-25 14:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Cynthia Hobbs,cynthia.hobbs@abbvie.com,AbbVie - Q3 2023 Relationship Review
7,75,2023-07-26 14:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Ronnie Gray,ronnie.gray@laddercapitalcorp.com,Ladder Capital Corp - Q2 2023 Portfolio Review
8,76,2023-08-01 14:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Jennifer Phelps,jennifer.phelps@aerovironment.com,AeroVironment - Discuss SCF Supplier Onboardin...
9,77,2023-08-23 10:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Kyle Waters,kyle.waters@amedisys.com,Amedisys - Discuss Lockbox Implementation Deci...
10,78,2023-10-24 14:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Ronnie Gray,ronnie.gray@laddercapitalcorp.com,Ladder Capital Corp - Q3 2023 Portfolio Review
11,79,2023-10-25 11:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Tracey Smith,tracey.smith@medtronic.com,Medtronic - Q3 2023 Portfolio Review
12,80,2023-12-05 16:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Roberto Martin,roberto.martin@guardanthealth.com,Guardant Health - Year-End 2023 Portfolio Revi...
13,81,2023-12-11 11:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Jessica Palmer,jessica.palmer@hasbro.com,Hasbro - Finalize H1 2024 FX Hedging Strategy
14,82,2024-01-23 14:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Ronnie Gray,ronnie.gray@laddercapitalcorp.com,Ladder Capital Corp - Q4 2023 Portfolio Review
15,83,2024-01-24 11:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Tracey Smith,tracey.smith@medtronic.com,Medtronic - Q4 2023 Portfolio Review & 2024 Ou...
16,84,2024-01-25 14:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Cynthia Hobbs,cynthia.hobbs@abbvie.com,AbbVie - Q4 2023 Relationship Review
17,85,2024-01-29 11:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Michelle Jenkins,michelle.jenkins@intuitivesurgical.com,Intuitive Surgical - FX Services Deep Dive & C...
18,86,2024-02-06 15:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Jennifer Phelps,jennifer.phelps@aerovironment.com,AeroVironment - SCF Pilot Program Status Update
19,87,2024-02-13 14:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Denise Moore,denise.moore@celestica.com,Celestica - Discuss CD Maturity and Reinvestme...
20,88,2024-02-20 11:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Amy Winters,amy.winters@gamestopcorp.com,GameStop Corp - Merchant Services Post-Go-Live...
21,89,2024-02-27 10:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Timothy Ochoa,timothy.ochoa@hyatthotels.com,Hyatt Hotels - Check Status of 401k Advisory R...
22,90,2024-03-05 13:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Lisa Kennedy,lisa.kennedy@lockheedmartincorporation.com,Lockheed Martin - Follow-up Discussion on ESG ...
23,91,2024-03-12 09:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,David Moreno,david.moreno@manpowergroup.com,ManpowerGroup - Review H1 2024 FX Hedging / Di...
24,92,2024-03-19 16:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Kelly Smith,kelly.smith@presidiopropertytrust.com,Presidio Property Trust - Annual Relationship ...
25,93,2024-03-26 11:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Adam Clay,adam.clay@compass.com,Compass - Annual Credit Facility Review Meeting
26,94,2024-02-04 14:30:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Jessica Palmer,jessica.palmer@hasbro.com,Hasbro - Discuss Portfolio Diversification and...
27,163,2023-01-24 14:00:00,Ryan Holloway,ryan.holloway@bankwell.com,Ronnie Gray,ronnie.gray@laddercapitalcorp.com,Ladder Capital Corp - Q4 2022 Portfolio Review
28,164,2023-01-25 11:00:00,Ryan Holloway,ryan.holloway@bankwell.com,Tracey Smith,tracey.smith@medtronic.com,Medtronic - Q4 2022 Portfolio Review & 2023 Ou...
29,165,2023-01-26 14:00:00,Ryan Holloway,ryan.holloway@bankwell.com,Michelle Jenkins,michelle.jenkins@intuitivesurgical.com,Intuitive Surgical - Introduction to Bankwell ...

In [21]:


query_str = f"""
    SELECT  meeting_timestamp
    FROM  meeting_data
    WHERE  invitee_emails = 'adam.clay@compass.com'
    and host_email = 'jane.moneypenny@bankwell.com'
    and meeting_timestamp < '2024-03-26 11:00:00'
    ORDER BY meeting_timestamp DESC
    
    LIMIT 1;"""



last_meeting = pd.read_sql(query_str, con=engine)

last_meeting["meeting_timestamp"][0]

'2021-10-01 11:00:00'

In [18]:
query_str = f"""
    SELECT  *
    FROM  meeting_data
    WHERE  invitee_emails = 'adam.clay@compass.com'
    and host_email = 'jane.moneypenny@bankwell.com'
    ORDER BY meeting_timestamp DESC;"""



last_meeting = pd.read_sql(query_str, con=engine)

last_meeting.head()

,index,meeting_timestamp,host,host_email,invitees,invitee_emails,meeting_subject
0,93,2024-03-26 11:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Adam Clay,adam.clay@compass.com,Compass - Annual Credit Facility Review Meeting
1,51,2021-10-01 11:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Adam Clay,adam.clay@compass.com,Compass - Credit Facility Documentation Final ...
2,34,2020-09-15 14:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Adam Clay,adam.clay@compass.com,Compass - Credit Facility Term Sheet Follow-up...
3,18,2019-09-17 10:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Adam Clay,adam.clay@compass.com,Compass - Credit Facility Term Sheet Review
4,5,2018-09-25 10:00:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Adam Clay,adam.clay@compass.com,Compass - Discuss Expansion Financing Needs

In [22]:
qry = """ SELECT *
        FROM clients_contact
        --WHERE company = '{client_company}'
        """
df = pd.read_sql(qry, con=engine)

In [23]:
df.head()

,company,industry,account_id,contact_first_name,contact_last_name,contact_title,phone,email,website,location,annual_revenue,total_account_bal
0,Mariott,Hospitality,d02ccad1-26c4-4768-95a4-833dbc2b2460,Mary,Vasquez,Senior Director,520-618-5303x572,mary.vasquez@mariott.com,mariott.com,New York City,43000000,30000000
1,AbbVie,Healthcare,d02ccad1-26c4-4768-95a4-833dbc2b2461,Cynthia,Hobbs,Director,(446)673-8121x90878,cynthia.hobbs@abbvie.com,AbbVie.com,Chicago,35000000,39000000
2,AeroVironment,Manufacturing,d02ccad1-26c4-4768-95a4-833dbc2b2462,Jennifer,Phelps,Senior Director,797-584-0061x89137,jennifer.phelps@aerovironment.com,AeroVironment.com,Washington DC,25000000,4000000
3,Amedisys,Healthcare,c42e62e8-e943-47e0-bfd1-651e053c8bc6,Kyle,Waters,Senior Director,590.239.3215x8014,kyle.waters@amedisys.com,Amedisys.org,Washington DC,36891234,45213789
4,Celestica,Technology,c42e62e8-e943-47e0-bfd1-651e053c8bc5,Denise,Moore,Senior Director,754-579-1511x763,denise.moore@celestica.com,celestica.com,Washington DC,36891234,45213789

In [6]:
qry = """SELECT email_timestamp
        , to_names	
        , to_emails
        , from_name
        , from_email
        , email_subject
        , email_body
        FROM email_data
        WHERE email_timestamp < '2024-03-26 11:00:00'
       -- and ( to_emails = 'adam.clay@compass.com' OR from_email = 'adam.clay@compass.com')
        and (to_emails = 'jane.moneypenny@bankwell.com' or from_email = 'jane.moneypenny@bankwell.com')
        limit 15
        """
df = pd.read_sql(qry, con=engine)
df.head()

,email_timestamp,to_names,to_emails,from_name,from_email,email_subject,email_body
0,2018-07-15 09:30:00,Cynthia Hobbs,cynthia.hobbs@abbvie.com,Jane Moneypenny,jane.moneypenny@bankwell.com,Introduction - Bankwell Financial Services for...,"Hi Cynthia,\n\nMy name is Jane Moneypenny, and..."
1,2018-07-16 11:05:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Cynthia Hobbs,cynthia.hobbs@abbvie.com,Re: Introduction - Bankwell Financial Services...,"Hi Jane,\n\nThank you for reaching out. AbbVie..."
2,2018-07-16 11:15:00,Cynthia Hobbs,cynthia.hobbs@abbvie.com,Jane Moneypenny,jane.moneypenny@bankwell.com,Re: Introduction - Bankwell Financial Services...,"Hi Cynthia,\n\nTuesday at 2 PM CT works perfec..."
3,2018-08-01 14:00:00,Jennifer Phelps,jennifer.phelps@aerovironment.com,Jane Moneypenny,jane.moneypenny@bankwell.com,Follow Up: AeroVironment Financial Needs,"Hi Jennifer,\n\nIt was a pleasure speaking wit..."
4,2018-08-02 10:15:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Jennifer Phelps,jennifer.phelps@aerovironment.com,Re: Follow Up: AeroVironment Financial Needs,"Hi Jane,\n\nThanks for sending this over. The ..."

In [19]:
meeting_timestamp = '2024-03-26 11:00:00'
user_email = 'jane.moneypenny@bankwell.com'
query_str = f"""
    SELECT email_timestamp
        , to_names	
        , to_emails
        , from_name
        , from_email
        , email_subject
        , email_body
        FROM email_data
        WHERE email_timestamp < '{meeting_timestamp}'
        and to_emails = '{user_email}'
        order by email_timestamp desc
        limit 20
"""
result = pd.read_sql(query_str, con=engine)
recent_emails = list(result["email_body"])

In [21]:
result.head()

,email_timestamp,to_names,to_emails,from_name,from_email,email_subject,email_body
0,2024-01-24 16:10:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Jessica Palmer,jessica.palmer@hasbro.com,Hasbro - Post Divestiture Strategy Adjustments,"Hi jane,\n\nYes, this needs further thought. I..."
1,2024-01-21 09:17:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Jessica Palmer,jessica.palmer@hasbro.com,Hasbro - Post Divestiture Strategy Adjustments,"Thanks Jane,\n\nThank you for the update. Seem..."
2,2023-12-13 10:15:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Michelle Jenkins,michelle.jenkins@intuitivesurgical.com,Re: Intuitive Surgical - Discussing FX Service...,"Hi Jane,\n\nYes, let's plan for that in Q1. Ho..."
3,2023-12-12 11:30:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Jessica Palmer,jessica.palmer@hasbro.com,Re: Hasbro - Strategy Discussion for H1 2024 F...,"Thanks Jane,\n\nI will follow up if I have any..."
4,2023-12-05 11:30:00,Jane Moneypenny,jane.moneypenny@bankwell.com,Timothy Ochoa,timothy.ochoa@hyatthotels.com,Re: Hyatt Hotels - 401(k) Advisory Services RFI,"Hi Jane,\n\nThanks for checking in. The RFI pr..."

In [18]:
result_dict = result.to_dict()
result_dict

{'email_timestamp': {0: '2018-07-15 09:30:00',
  1: '2018-07-16 11:05:00',
  2: '2018-07-16 11:15:00',
  3: '2018-08-01 14:00:00',
  4: '2018-08-02 10:15:00',
  5: '2018-08-02 16:30:00',
  6: '2018-08-10 11:00:00',
  7: '2018-08-13 09:45:00',
  8: '2018-08-13 10:00:00',
  9: '2018-09-05 15:00:00',
  10: '2018-09-06 10:30:00',
  11: '2018-09-06 14:20:00',
  12: '2018-09-18 09:00:00',
  13: '2018-09-18 13:15:00',
  14: '2018-09-18 13:30:00'},
 'to_names': {0: 'Cynthia Hobbs',
  1: 'Jane Moneypenny',
  2: 'Cynthia Hobbs',
  3: 'Jennifer Phelps',
  4: 'Jane Moneypenny',
  5: 'Jennifer Phelps',
  6: 'Kyle Waters',
  7: 'Jane Moneypenny',
  8: 'Kyle Waters',
  9: 'Denise Moore',
  10: 'Jane Moneypenny',
  11: 'Denise Moore',
  12: 'Adam Clay',
  13: 'Jane Moneypenny',
  14: 'Adam Clay'},
 'to_emails': {0: 'cynthia.hobbs@abbvie.com',
  1: 'jane.moneypenny@bankwell.com',
  2: 'cynthia.hobbs@abbvie.com',
  3: 'jennifer.phelps@aerovironment.com',
  4: 'jane.moneypenny@bankwell.com',
  5: 'jennifer.phelps@aerovironment.com',
  6: 'kyle.waters@amedisys.com',
  7: 'jane.moneypenny@bankwell.com',
  8: 'kyle.waters@amedisys.com',
  9: 'denise.moore@celestica.com',
  10: 'jane.moneypenny@bankwell.com',
  11: 'denise.moore@celestica.com',
  12: 'adam.clay@compass.com',
  13: 'jane.moneypenny@bankwell.com',
  14: 'adam.clay@compass.com'},
 'from_name': {0: 'Jane Moneypenny',
  1: 'Cynthia Hobbs',
  2: 'Jane Moneypenny',
  3: 'Jane Moneypenny',
  4: 'Jennifer Phelps',
  5: 'Jane Moneypenny',
  6: 'Jane Moneypenny',
  7: 'Kyle Waters',
  8: 'Jane Moneypenny',
  9: 'Jane Moneypenny',
  10: 'Denise Moore',
  11: 'Jane Moneypenny',
  12: 'Jane Moneypenny',
  13: 'Adam Clay',
  14: 'Jane Moneypenny'},
 'from_email': {0: 'jane.moneypenny@bankwell.com',
  1: 'cynthia.hobbs@abbvie.com',
  2: 'jane.moneypenny@bankwell.com',
  3: 'jane.moneypenny@bankwell.com',
  4: 'jennifer.phelps@aerovironment.com',
  5: 'jane.moneypenny@bankwell.com',
  6: 'jane.moneypenny@bankwell.com',
  7: 'kyle.waters@amedisys.com',
  8: 'jane.moneypenny@bankwell.com',
  9: 'jane.moneypenny@bankwell.com',
  10: 'denise.moore@celestica.com',
  11: 'jane.moneypenny@bankwell.com',
  12: 'jane.moneypenny@bankwell.com',
  13: 'adam.clay@compass.com',
  14: 'jane.moneypenny@bankwell.com'},
 'email_subject': {0: 'Introduction - Bankwell Financial Services for AbbVie',
  1: 'Re: Introduction - Bankwell Financial Services for AbbVie',
  2: 'Re: Introduction - Bankwell Financial Services for AbbVie',
  3: 'Follow Up: AeroVironment Financial Needs',
  4: 'Re: Follow Up: AeroVironment Financial Needs',
  5: 'Re: Follow Up: AeroVironment Financial Needs',
  6: 'Bankwell Financial - Cash Concentration Services',
  7: 'Re: Bankwell Financial - Cash Concentration Services',
  8: 'Re: Bankwell Financial - Cash Concentration Services',
  9: 'Celestica - Short-Term Investment Options',
  10: 'Re: Celestica - Short-Term Investment Options',
  11: 'Re: Celestica - Short-Term Investment Options',
  12: 'Meeting Request: Compass Expansion Financing',
  13: 'Re: Meeting Request: Compass Expansion Financing',
  14: 'Re: Meeting Request: Compass Expansion Financing'},
 'email_body': {0: "Hi Cynthia,\\n\\nMy name is Jane Moneypenny, and I'm a Financial Advisor with Bankwell Financial, specializing in corporate financial solutions for the Healthcare sector. I came across your profile and wanted to reach out to see if AbbVie might benefit from our expertise in cash management, investment strategies, and risk mitigation.\\n\\nWould you be open to a brief introductory call sometime next week?\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
  1: "Hi Jane,\\n\\nThank you for reaching out. AbbVie is always interested in optimizing its financial operations. I'd be happy to schedule a brief call. How does Tuesday at 2 PM CT sound?\\n\\nBest,\\n\\n--\\nCynthia Hobbs\\nDirector\\nAbbVie\\nEmail: cynthia.hobbs@abbvie.com\\nPhone: (446)673-8121x90878\\n",
  2: "Hi Cynthia,\\n\\nTuesday at 2 PM CT works perfectly. I'll send a calendar invitation shortly. Looking forward to our conversation.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
  3: "Hi Jennifer,\\n\\nIt was a pleasure speaking with you last week regarding AeroVironment's financial strategy, particularly around FX risk management for your international components sourcing. \\n\\nAs discussed, I've attached a preliminary overview of Bankwell's currency hedging solutions that could be relevant. Let me know if you have any initial questions or would like to dive deeper into specific options.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
  4: "Hi Jane,\\n\\nThanks for sending this over. The overview is helpful. We're particularly interested in forward contracts given our predictable payment cycles. Could you provide some indicative pricing based on recent EUR/USD rates for 3 and 6-month terms?\\n\\nThanks,\\n\\n--\\nJennifer Phelps\\nSenior Director\\nAeroVironment\\nEmail: jennifer.phelps@aerovironment.com\\nPhone: 797-584-0061x89137\\n",
  5: "Hi Jennifer,\\n\\nCertainly. I've run indicative pricing based on today's market close for EUR/USD forwards. Please see the attached summary for 3 and 6-month terms. Keep in mind these are indicative and subject to market fluctuations until execution.\\n\\nHappy to discuss further.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
  6: "Hi Kyle,\\n\\nFollowing up on our conversation about streamlining Amedisys' cash management across your various operating accounts, I wanted to provide more details on Bankwell's automated cash concentration services.\\n\\nThe attached document outlines the potential benefits, including improved liquidity visibility and potential for higher yields on consolidated balances. Can we schedule a demo next week?\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
  7: "Hi Jane,\\n\\nThanks for the information. Cash concentration is definitely an area we're looking to improve. A demo would be great. How about Wednesday at 11 AM ET?\\n\\nBest,\\n\\n--\\nKyle Waters\\nSenior Director\\nAmedisys\\nEmail: kyle.waters@amedisys.com\\nPhone: 590.239.3215x8014\\n",
  8: "Hi Kyle,\\n\\nWednesday at 11 AM ET works for me. I'll set up the meeting and include dial-in details. Looking forward to it.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
  9: "Hi Denise,\\n\\nFollowing up on our discussion regarding Celestica's short-term liquidity pool (~$15M), I've prepared a comparison of potential investment vehicles currently available through Bankwell Financial, including Money Market Funds (MMFs) with varying risk/yield profiles and some short-duration bond options.\\n\\nPlease find the analysis attached, highlighting current yields and diversification benefits. Happy to discuss which might best align with your risk tolerance and liquidity needs.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
  10: 'Hi Jane,\\n\\nThis comparison is very useful, thank you. The enhanced yield MMF looks interesting, could you provide the specific fund prospectus and details on the underlying assets? We need to ensure it fits within our investment policy statement.\\n\\nThanks,\\n\\n--\\nDenise Moore\\nSenior Director\\nCelestica\\nEmail: denise.moore@celestica.com\\nPhone: 754-579-1511x763\\n',
  11: "Hi Denise,\\n\\nAbsolutely. I've attached the prospectus and fact sheet for the Bankwell Enhanced Yield MMF (Ticker: BWEYX). It primarily invests in high-quality, short-term debt instruments. Please let me know if you have any specific questions after reviewing.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
  12: "Hi Adam,\\n\\nHope you're having a good week. I wanted to follow up on our brief chat at the Real Estate Finance conference last month regarding Compass's potential need for expansion capital.\\n\\nBankwell Financial offers various financing solutions, including lines of credit and term loans tailored for growth companies. Would you be available for a call next week to discuss your potential needs and how we might assist?\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
  13: 'Hi Jane,\\n\\nGood timing. Yes, we are evaluating options for a new credit facility. I can chat next Tuesday morning. Does 10 AM ET work?\\n\\nRegards,\\n\\n--\\nAdam Clay\\nVP\\nCompass\\nEmail: adam.clay@compass.com\\nPhone: -2931\\n',
  14: "Hi Adam,\\n\\nExcellent. Tuesday at 10 AM ET is confirmed. I'll send a calendar invite. I look forward to learning more about Compass's plans.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n"}}

In [11]:
recent_emails

["Hi Cynthia,\\n\\nMy name is Jane Moneypenny, and I'm a Financial Advisor with Bankwell Financial, specializing in corporate financial solutions for the Healthcare sector. I came across your profile and wanted to reach out to see if AbbVie might benefit from our expertise in cash management, investment strategies, and risk mitigation.\\n\\nWould you be open to a brief introductory call sometime next week?\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
 "Hi Jane,\\n\\nThank you for reaching out. AbbVie is always interested in optimizing its financial operations. I'd be happy to schedule a brief call. How does Tuesday at 2 PM CT sound?\\n\\nBest,\\n\\n--\\nCynthia Hobbs\\nDirector\\nAbbVie\\nEmail: cynthia.hobbs@abbvie.com\\nPhone: (446)673-8121x90878\\n",
 "Hi Cynthia,\\n\\nTuesday at 2 PM CT works perfectly. I'll send a calendar invitation shortly. Looking forward to our conversation.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
 "Hi Jennifer,\\n\\nIt was a pleasure speaking with you last week regarding AeroVironment's financial strategy, particularly around FX risk management for your international components sourcing. \\n\\nAs discussed, I've attached a preliminary overview of Bankwell's currency hedging solutions that could be relevant. Let me know if you have any initial questions or would like to dive deeper into specific options.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
 "Hi Jane,\\n\\nThanks for sending this over. The overview is helpful. We're particularly interested in forward contracts given our predictable payment cycles. Could you provide some indicative pricing based on recent EUR/USD rates for 3 and 6-month terms?\\n\\nThanks,\\n\\n--\\nJennifer Phelps\\nSenior Director\\nAeroVironment\\nEmail: jennifer.phelps@aerovironment.com\\nPhone: 797-584-0061x89137\\n",
 "Hi Jennifer,\\n\\nCertainly. I've run indicative pricing based on today's market close for EUR/USD forwards. Please see the attached summary for 3 and 6-month terms. Keep in mind these are indicative and subject to market fluctuations until execution.\\n\\nHappy to discuss further.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
 "Hi Kyle,\\n\\nFollowing up on our conversation about streamlining Amedisys' cash management across your various operating accounts, I wanted to provide more details on Bankwell's automated cash concentration services.\\n\\nThe attached document outlines the potential benefits, including improved liquidity visibility and potential for higher yields on consolidated balances. Can we schedule a demo next week?\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
 "Hi Jane,\\n\\nThanks for the information. Cash concentration is definitely an area we're looking to improve. A demo would be great. How about Wednesday at 11 AM ET?\\n\\nBest,\\n\\n--\\nKyle Waters\\nSenior Director\\nAmedisys\\nEmail: kyle.waters@amedisys.com\\nPhone: 590.239.3215x8014\\n",
 "Hi Kyle,\\n\\nWednesday at 11 AM ET works for me. I'll set up the meeting and include dial-in details. Looking forward to it.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
 "Hi Denise,\\n\\nFollowing up on our discussion regarding Celestica's short-term liquidity pool (~$15M), I've prepared a comparison of potential investment vehicles currently available through Bankwell Financial, including Money Market Funds (MMFs) with varying risk/yield profiles and some short-duration bond options.\\n\\nPlease find the analysis attached, highlighting current yields and diversification benefits. Happy to discuss which might best align with your risk tolerance and liquidity needs.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
 'Hi Jane,\\n\\nThis comparison is very useful, thank you. The enhanced yield MMF looks interesting, could you provide the specific fund prospectus and details on the underlying assets? We need to ensure it fits within our investment policy statement.\\n\\nThanks,\\n\\n--\\nDenise Moore\\nSenior Director\\nCelestica\\nEmail: denise.moore@celestica.com\\nPhone: 754-579-1511x763\\n',
 "Hi Denise,\\n\\nAbsolutely. I've attached the prospectus and fact sheet for the Bankwell Enhanced Yield MMF (Ticker: BWEYX). It primarily invests in high-quality, short-term debt instruments. Please let me know if you have any specific questions after reviewing.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
 "Hi Adam,\\n\\nHope you're having a good week. I wanted to follow up on our brief chat at the Real Estate Finance conference last month regarding Compass's potential need for expansion capital.\\n\\nBankwell Financial offers various financing solutions, including lines of credit and term loans tailored for growth companies. Would you be available for a call next week to discuss your potential needs and how we might assist?\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n",
 'Hi Jane,\\n\\nGood timing. Yes, we are evaluating options for a new credit facility. I can chat next Tuesday morning. Does 10 AM ET work?\\n\\nRegards,\\n\\n--\\nAdam Clay\\nVP\\nCompass\\nEmail: adam.clay@compass.com\\nPhone: -2931\\n',
 "Hi Adam,\\n\\nExcellent. Tuesday at 10 AM ET is confirmed. I'll send a calendar invite. I look forward to learning more about Compass's plans.\\n\\nBest regards,\\n\\n--\\nJane Moneypenny\\nFinancial Advisor\\nBankwell Financial\\nPhone: (555) 123-4567\\nEmail: jane.moneypenny1@outlook.com\\n"]